@page "/"
@using System.Text.Json.Serialization
@inject SaveLoadServices saveLoadServices;

<PageTitle>Befragung</PageTitle>

<style>
    .button-style {
        margin: 5px;
        padding: 10px;
        font-size: 16px;
    }

    /* Stil für die große Zahl */
    .big-number {
        font-size: 260px; /* Noch größer */
        font-weight: bold;
        color: darkblue;
        margin-top: 0px;
        text-align: center;
        position: page;
        left: 50%;
        transform: translate(-50%, -50%); /* Zentriert die Zahl in der Mitte */
    }

    /* Stil für die Seite */
    .content {
        text-align: center;
        margin-top: 20px;
    }
</style>



<div class="content">


    <div class="content">

        @if (isLoading)
        {
            <p>Lade Daten...</p>
        }
        else
        {
            @if (PageIndex >= 0 && PageIndex < PageArray.Length)
            {
                <h3>@PageArray[PageIndex].question</h3>

                int maxButtons = PageArray[PageIndex].ButtonTextNextArray.Length;


                for (int counter = 0; counter < maxButtons && PageArray[PageIndex].ButtonTextNextArray[counter].ButtonText != null; counter++)
                {
                    int index = counter;

                    <button class="button-style" @onclick="() => ShowNumber(PageArray[PageIndex].ButtonTextNextArray[index].NextButton)">
                        @PageArray[PageIndex].ButtonTextNextArray[index].ButtonText
                    </button>
                }
            }
            else
            {
                <p>Seite existiert nicht!</p> 
            }
        }

    </div>

</div>

@code {
    private bool isLoading = true;
    private int PageIndex = 0;

    public class ButtonTextNext { [JsonInclude] public string ButtonText; [JsonInclude] public int NextButton; };
    public class UIPage { [JsonInclude] public string question; [JsonInclude] public ButtonTextNext[] ButtonTextNextArray; };
    public UIPage[] PageArray;

    protected override async Task OnInitializedAsync()
    {
        PageArray = await saveLoadServices.LoadUIPageAsync();

        if (PageArray == null || PageArray[0].question == string.Empty)
        {
            PageArray = new UIPage[160];

            PageArray[0] = new UIPage
                {
                    question = "Bitte erstellen Sie Ihre Fragen in Befragenbearbeiten?",
                    ButtonTextNextArray = new ButtonTextNext[] {
                    new ButtonTextNext
                    {
                        ButtonText = "Nein",
                        NextButton = 1
                    },
                    new ButtonTextNext
                    {
                        ButtonText = "Ja",
                        NextButton = 2
                    }
                }
                };

            PageArray[1] = new UIPage
                {
                    question = "Sehr gut, vielen Dank!",
                };

        }

        isLoading = false;
    }



    private void ShowNumber(int number)
    {
        PageIndex = number;
    }
}